{
    "openapi": "3.1.0",
    "info": {
        "title": "Open Care API",
        "description": "Open Care API Description",
        "version": "v1"
    },
    "servers": [
        {
            "url": "http://api.opencarebd.com",
            "description": "Generated server url"
        }
    ],
    "tags": [
        {
            "name": "Association Management",
            "description": "API for creating, retrieving, updating, and deleting associations"
        },
        {
            "name": "Doctor Degree Management",
            "description": "API for managing doctor degree information including creation, retrieval, updating and deletion of degree records associated with doctors"
        },
        {
            "name": "Ambulance Management",
            "description": "API for managing ambulances including creation, retrieval, updating and deletion of ambulance records"
        },
        {
            "name": "Institution Management",
            "description": "API for managing institutions, including listing, filtering, and retrieving institution details"
        },
        {
            "name": "Medical Specialities",
            "description": "API for managing medical specialities, including listing, filtering, and CRUD operations"
        },
        {
            "name": "Enum Management",
            "description": "API for retrieving enum values used throughout the application"
        },
        {
            "name": "Advertisement Type Management",
            "description": "API for managing advertisement types including listing, creating, updating and deleting"
        },
        {
            "name": "Social Organization Management",
            "description": "API for managing social organizations, including CRUD operations, filtering, and tag search"
        },
        {
            "name": "Authentication",
            "description": "API for user authentication and authorization"
        },
        {
            "name": "Home",
            "description": "Public endpoints for home page data such as featured items, blogs, specialties and tips"
        },
        {
            "name": "Unified Search",
            "description": "General search across all healthcare entities"
        },
        {
            "name": "Health Vital Management",
            "description": "API for managing health vitals and tracking health metrics"
        },
        {
            "name": "Doctor Management",
            "description": "API for managing doctor information including creation, retrieval, updating and deletion of doctor records"
        },
        {
            "name": "Profile Management",
            "description": "API for retrieving and updating user profiles"
        },
        {
            "name": "User Activity Management",
            "description": "API for retrieving user activity data including login history, session information, and ad interactions"
        },
        {
            "name": "Advertisement Management",
            "description": "API for creating, retrieving, updating, and deleting advertisements"
        },
        {
            "name": "Blood Requisition Management",
            "description": "API for creating, retrieving, updating, and deleting blood requisitions"
        },
        {
            "name": "Hospital Medical Test Management",
            "description": "API for managing hospital medical test amenities including creation, retrieval, updating and deletion of medical test records associated with hospitals"
        },
        {
            "name": "Blood Donation Management",
            "description": "API for creating, retrieving, updating, and deleting blood donation records"
        },
        {
            "name": "Degree Management",
            "description": "API for retrieving degree information"
        },
        {
            "name": "File Management",
            "description": "API for uploading, downloading, listing, deleting, and generating presigned URLs for files"
        },
        {
            "name": "Hospital Management",
            "description": "API for managing hospital information including creation, retrieval, updating and deletion of hospital records"
        },
        {
            "name": "Public Doctor Search",
            "description": "API for publicly searching doctor information"
        },
        {
            "name": "Location Management",
            "description": "API for managing geographic location data including divisions, districts, upazilas, and unions of Bangladesh"
        },
        {
            "name": "Doctor Workplace Management",
            "description": "API for managing doctor workplace information including creation, retrieval, updating and deletion of workplace records associated with doctors"
        },
        {
            "name": "Hospital Amenity Management",
            "description": "API for managing hospital amenity information including creation, retrieval, updating and deletion of amenity records associated with hospitals"
        },
        {
            "name": "Medical Test Management",
            "description": "API for managing medical tests including listing, retrieval, creation, update and deletion"
        },
        {
            "name": "Social Login",
            "description": "OAuth/social login endpoints for redirect and callback handling"
        },
        {
            "name": "User Management",
            "description": "API for user-related operations such as creating logins and assigning domain roles"
        },
        {
            "name": "Blood Donor Management",
            "description": "API for retrieving blood donor information from user profiles"
        },
        {
            "name": "Nurse Management",
            "description": "API for managing nurse information including creation, retrieval, updating and deletion of nurse records"
        },
        {
            "name": "Manual Synchronization",
            "description": "API for manual data synchronization tasks"
        },
        {
            "name": "Activity Tracking Examples",
            "description": "Example endpoints for manual activity tracking"
        },
        {
            "name": "Public Hospital Search",
            "description": "API for publicly searching hospital information"
        },
        {
            "name": "GitHub Public API",
            "description": "API for fetching public GitHub contributors and related data"
        },
        {
            "name": "Medicine Management",
            "description": "API for searching and retrieving medicine information"
        },
        {
            "name": "Doctor Association Management",
            "description": "API for creating, retrieving, updating, and deleting doctor associations"
        },
        {
            "name": "Tag Management",
            "description": "API for managing tags including creation, retrieval, updating and deletion of tag records"
        }
    ],
    "paths": {
        "/api/tags/{id}": {
            "get": {
                "tags": [
                    "Tag Management"
                ],
                "summary": "Get tag by ID",
                "description": "Retrieves a specific tag by its ID.",
                "operationId": "getTagById",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Tag ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successfully retrieved tag",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TagResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Tag not found",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/TagResponse"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "Tag Management"
                ],
                "summary": "Update an existing tag",
                "description": "Updates the details of an existing tag identified by its ID.",
                "operationId": "updateTag",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Tag ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/TagRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Tag updated successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TagResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid input or tag with same name already exists",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/TagResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Tag not found",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/TagResponse"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation failed",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/TagResponse"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Tag Management"
                ],
                "summary": "Delete a tag",
                "description": "Deletes a tag record identified by its ID.",
                "operationId": "deleteTag",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Tag ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Tag deleted successfully"
                    },
                    "404": {
                        "description": "Tag not found"
                    }
                }
            }
        },
        "/api/social-organization/{id}": {
            "get": {
                "tags": [
                    "Social Organization Management"
                ],
                "summary": "Get social organization by ID",
                "description": "Retrieves the details of a specific social organization by its ID.",
                "operationId": "getSocialOrganizationById",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID of the social organization",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Social organization found",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/SocialOrganizationResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Social organization not found",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/SocialOrganizationResponse"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "Social Organization Management"
                ],
                "summary": "Update social organization by ID",
                "description": "Updates an existing social organization with new details.",
                "operationId": "updateSocialOrganization",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID of the social organization to update",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/SocialOrganizationRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Social organization updated successfully",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/SocialOrganizationResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid request body",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/SocialOrganizationResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Social organization not found",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/SocialOrganizationResponse"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Social Organization Management"
                ],
                "summary": "Delete social organization by ID",
                "description": "Deletes a social organization by its ID.",
                "operationId": "deleteSocialOrganization",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID of the social organization to delete",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Social organization deleted successfully"
                    },
                    "404": {
                        "description": "Social organization not found"
                    }
                }
            }
        },
        "/api/profiles/self": {
            "get": {
                "tags": [
                    "Profile Management"
                ],
                "summary": "Get current user's profile",
                "description": "Retrieves the profile information for the authenticated user.",
                "operationId": "getSelfProfile",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProfileResponse"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "Profile Management"
                ],
                "summary": "Update current user's profile",
                "description": "Updates the profile details for the authenticated user.",
                "operationId": "updateSelfProfile",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ProfileRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/nurses/{id}": {
            "get": {
                "tags": [
                    "Nurse Management"
                ],
                "summary": "Get nurse by ID",
                "description": "Retrieves a nurse by their unique ID",
                "operationId": "getNurseById",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/NurseResponse"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "Nurse Management"
                ],
                "summary": "Update an existing nurse",
                "description": "Updates the details of an existing nurse identified by their ID.",
                "operationId": "updateNurse",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/NurseRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/NurseResponse"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Nurse Management"
                ],
                "summary": "Delete a nurse",
                "description": "Deletes a nurse record identified by their ID.",
                "operationId": "deleteNurse",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/api/medical-tests/{id}": {
            "get": {
                "tags": [
                    "Medical Test Management"
                ],
                "summary": "Get medical test by ID",
                "description": "Retrieves a medical test by its unique ID",
                "operationId": "getMedicalTestById",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/MedicalTestResponse"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "Medical Test Management"
                ],
                "summary": "Update a medical test",
                "description": "Updates an existing medical test identified by its ID.",
                "operationId": "updateMedicalTest",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/MedicalTestRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/MedicalTestResponse"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Medical Test Management"
                ],
                "summary": "Delete a medical test",
                "description": "Deletes a medical test identified by its ID.",
                "operationId": "deleteMedicalTest",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/api/medical-specialities/{id}": {
            "get": {
                "tags": [
                    "Medical Specialities"
                ],
                "summary": "Get medical speciality by id",
                "description": "Returns a medical speciality for the given `id`.",
                "operationId": "getMedicalSpecialityById",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Medical speciality id",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "example": 1
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/MedicalSpecialityResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Medical speciality not found"
                    }
                }
            },
            "put": {
                "tags": [
                    "Medical Specialities"
                ],
                "summary": "Update an existing medical speciality",
                "description": "Updates the details of an existing medical speciality identified by its ID.",
                "operationId": "updateMedicalSpeciality",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID of the medical speciality to update",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/MedicalSpecialityRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Medical speciality updated successfully",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/MedicalSpecialityResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Medical speciality not found",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/MedicalSpecialityResponse"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Medical Specialities"
                ],
                "summary": "Delete a medical speciality",
                "description": "Deletes a medical speciality record identified by its ID.",
                "operationId": "deleteMedicalSpeciality",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID of the medical speciality to delete",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Medical speciality deleted successfully"
                    },
                    "404": {
                        "description": "Medical speciality not found"
                    }
                }
            }
        },
        "/api/institutions/{id}": {
            "get": {
                "tags": [
                    "Institution Management"
                ],
                "summary": "Get institution by ID",
                "description": "Retrieves the details of a specific institution by its ID.",
                "operationId": "getInstitutionById",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID of the institution",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Institution found",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/InstitutionResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Institution not found",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/InstitutionResponse"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "Institution Management"
                ],
                "summary": "Update an existing institution",
                "description": "Updates the details of an existing institution identified by its ID.",
                "operationId": "updateInstitution",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID of the institution to update",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/InstitutionRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Institution updated successfully",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/InstitutionResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Institution not found",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/InstitutionResponse"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Institution Management"
                ],
                "summary": "Delete an institution",
                "description": "Deletes an institution record identified by its ID.",
                "operationId": "deleteInstitution",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID of the institution to delete",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Institution deleted successfully"
                    },
                    "404": {
                        "description": "Institution not found"
                    }
                }
            }
        },
        "/api/hospitals/{id}": {
            "get": {
                "tags": [
                    "Hospital Management"
                ],
                "summary": "Get hospital by ID",
                "description": "Retrieves a hospital by its unique ID with optional related data.\nBy default, only basic hospital information is returned. Use query parameters to include additional data.\n",
                "operationId": "getHospitalById",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Hospital ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "doctors",
                        "in": "query",
                        "description": "Include hospital doctors",
                        "required": false,
                        "schema": {
                            "type": "boolean",
                            "default": false
                        },
                        "example": true
                    },
                    {
                        "name": "tests",
                        "in": "query",
                        "description": "Include hospital medical tests",
                        "required": false,
                        "schema": {
                            "type": "boolean",
                            "default": false
                        },
                        "example": true
                    },
                    {
                        "name": "amenities",
                        "in": "query",
                        "description": "Include hospital amenities",
                        "required": false,
                        "schema": {
                            "type": "boolean",
                            "default": false
                        },
                        "example": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/HospitalResponse"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "Hospital Management"
                ],
                "summary": "Update an existing hospital",
                "description": "Updates the details of an existing hospital identified by its ID",
                "operationId": "updateHospital",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/HospitalRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/HospitalResponse"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Hospital Management"
                ],
                "summary": "Delete a hospital",
                "description": "Deletes a hospital record identified by its ID",
                "operationId": "deleteHospital",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/api/hospitals/{hospitalId}/medical-tests/{id}": {
            "get": {
                "tags": [
                    "Hospital Medical Test Management"
                ],
                "summary": "Get specific medical test by ID",
                "description": "Retrieves a specific hospital medical test record by its unique ID.",
                "operationId": "getMedicalTestById_1",
                "parameters": [
                    {
                        "name": "hospitalId",
                        "in": "path",
                        "description": "ID of the hospital",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID of the medical test record to retrieve",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Hospital medical test found",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/HospitalMedicalTestResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Hospital medical test not found",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/HospitalMedicalTestResponse"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "Hospital Medical Test Management"
                ],
                "summary": "Update hospital medical test",
                "description": "Updates the details of an existing medical test record for a hospital.",
                "operationId": "updateMedicalTest_1",
                "parameters": [
                    {
                        "name": "hospitalId",
                        "in": "path",
                        "description": "ID of the hospital",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID of the medical test record to update",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/HospitalMedicalTestRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Hospital medical test updated successfully",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/HospitalMedicalTestResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid request data",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/HospitalMedicalTestResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Hospital medical test not found",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/HospitalMedicalTestResponse"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Hospital Medical Test Management"
                ],
                "summary": "Delete hospital medical test",
                "description": "Removes a specific medical test record from a hospital's services.",
                "operationId": "deleteMedicalTest_1",
                "parameters": [
                    {
                        "name": "hospitalId",
                        "in": "path",
                        "description": "ID of the hospital",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID of the medical test record to delete",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Hospital medical test deleted successfully"
                    },
                    "404": {
                        "description": "Hospital medical test not found"
                    }
                }
            }
        },
        "/api/hospitals/{hospitalId}/amenities/{id}": {
            "get": {
                "tags": [
                    "Hospital Amenity Management"
                ],
                "summary": "Get specific amenity by ID",
                "description": "Retrieves a specific hospital amenity record by its unique ID.",
                "operationId": "getHospitalAmenityById",
                "parameters": [
                    {
                        "name": "hospitalId",
                        "in": "path",
                        "description": "ID of the hospital",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID of the amenity record to retrieve",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Hospital amenity found",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/HospitalAmenityResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Hospital amenity not found",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/HospitalAmenityResponse"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "Hospital Amenity Management"
                ],
                "summary": "Update hospital amenity",
                "description": "Updates the details of an existing amenity record for a hospital including pricing, availability, and other amenity information.",
                "operationId": "updateHospitalAmenity",
                "parameters": [
                    {
                        "name": "hospitalId",
                        "in": "path",
                        "description": "ID of the hospital",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID of the amenity record to update",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/HospitalAmenityRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Hospital amenity updated successfully",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/HospitalAmenityResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid request data",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/HospitalAmenityResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Hospital amenity not found",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/HospitalAmenityResponse"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Hospital Amenity Management"
                ],
                "summary": "Delete hospital amenity",
                "description": "Removes a specific amenity record from a hospital's available services and facilities.",
                "operationId": "deleteHospitalAmenity",
                "parameters": [
                    {
                        "name": "hospitalId",
                        "in": "path",
                        "description": "ID of the hospital",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID of the amenity record to delete",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Hospital amenity deleted successfully"
                    },
                    "404": {
                        "description": "Hospital amenity not found"
                    }
                }
            }
        },
        "/api/health-vitals/{id}": {
            "get": {
                "tags": [
                    "Health Vital Management"
                ],
                "summary": "Get health vital by ID",
                "description": "Retrieves a specific health vital by its ID",
                "operationId": "getHealthVitalById",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/HealthVitalResponse"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "Health Vital Management"
                ],
                "summary": "Update health vital",
                "description": "Updates an existing health vital record",
                "operationId": "updateHealthVital",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/HealthVitalRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/HealthVitalResponse"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Health Vital Management"
                ],
                "summary": "Delete health vital",
                "description": "Deletes a health vital record by ID",
                "operationId": "deleteHealthVital",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "object",
                                    "additionalProperties": {
                                        "type": "string"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "patch": {
                "tags": [
                    "Health Vital Management"
                ],
                "summary": "Partially update health vital",
                "description": "Partially updates an existing health vital record (only updates provided fields)",
                "operationId": "partialUpdateHealthVital",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/HealthVitalRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/HealthVitalResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/doctors/{id}": {
            "get": {
                "tags": [
                    "Doctor Management"
                ],
                "summary": "Get doctor by ID",
                "description": "Retrieves a doctor by their unique ID along with associated information including:\n- Medical degrees and specializations (optional, use ?degrees=true)\n- Workplace information (optional, use ?workplaces=true)\n- Professional associations (optional, use ?associations=true)\n- Aggregated degree abbreviations and specializations\n\nBy default, only basic doctor information is returned. Use query parameters to include additional data.\n",
                "operationId": "getDoctorById",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Doctor ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "degrees",
                        "in": "query",
                        "description": "Include doctor degrees",
                        "required": false,
                        "schema": {
                            "type": "boolean",
                            "default": false
                        },
                        "example": true
                    },
                    {
                        "name": "workplaces",
                        "in": "query",
                        "description": "Include doctor workplaces",
                        "required": false,
                        "schema": {
                            "type": "boolean",
                            "default": false
                        },
                        "example": true
                    },
                    {
                        "name": "associations",
                        "in": "query",
                        "description": "Include doctor associations",
                        "required": false,
                        "schema": {
                            "type": "boolean",
                            "default": false
                        },
                        "example": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/DoctorResponse"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "Doctor Management"
                ],
                "summary": "Update an existing doctor",
                "description": "Updates the details of an existing doctor identified by their ID.",
                "operationId": "updateDoctor",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/DoctorRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/DoctorResponse"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Doctor Management"
                ],
                "summary": "Delete a doctor",
                "description": "Deletes a doctor record identified by their ID.",
                "operationId": "deleteDoctor",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/api/doctors/{doctorId}/workplaces/{id}": {
            "get": {
                "tags": [
                    "Doctor Workplace Management"
                ],
                "summary": "Get specific workplace by ID",
                "description": "Retrieves a specific workplace record by its unique ID.",
                "operationId": "getDoctorWorkplaceById",
                "parameters": [
                    {
                        "name": "doctorId",
                        "in": "path",
                        "description": "ID of the doctor",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID of the workplace record to retrieve",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Doctor workplace found",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/DoctorWorkplaceResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Doctor workplace not found",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/DoctorWorkplaceResponse"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "Doctor Workplace Management"
                ],
                "summary": "Update doctor workplace",
                "description": "Updates the details of an existing workplace record for a doctor.",
                "operationId": "updateDoctorWorkplace",
                "parameters": [
                    {
                        "name": "doctorId",
                        "in": "path",
                        "description": "ID of the doctor",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID of the workplace record to update",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/DoctorWorkplaceRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Doctor workplace updated successfully",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/DoctorWorkplaceResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid request data",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/DoctorWorkplaceResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Doctor workplace not found",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/DoctorWorkplaceResponse"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Doctor Workplace Management"
                ],
                "summary": "Delete doctor workplace",
                "description": "Removes a specific workplace record from a doctor's profile.",
                "operationId": "deleteDoctorWorkplace",
                "parameters": [
                    {
                        "name": "doctorId",
                        "in": "path",
                        "description": "ID of the doctor",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID of the workplace record to delete",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Doctor workplace deleted successfully"
                    },
                    "404": {
                        "description": "Doctor workplace not found"
                    }
                }
            }
        },
        "/api/doctors/{doctorId}/degrees/{id}": {
            "get": {
                "tags": [
                    "Doctor Degree Management"
                ],
                "summary": "Get specific degree by ID",
                "description": "Retrieves a specific educational degree record by its unique ID for a specific doctor.",
                "operationId": "getDoctorDegreeById",
                "parameters": [
                    {
                        "name": "doctorId",
                        "in": "path",
                        "description": "ID of the doctor",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID of the degree record to retrieve",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Doctor degree found",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/DoctorDegreeResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid ID",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/DoctorDegreeResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Doctor degree not found",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/DoctorDegreeResponse"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "Doctor Degree Management"
                ],
                "summary": "Update doctor degree",
                "description": "Updates the details of an existing educational degree record for a doctor.",
                "operationId": "updateDoctorDegree",
                "parameters": [
                    {
                        "name": "doctorId",
                        "in": "path",
                        "description": "ID of the doctor",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID of the degree record to update",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/DoctorDegreeRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Doctor degree updated successfully",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/DoctorDegreeResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid request data",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/DoctorDegreeResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Doctor degree not found",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/DoctorDegreeResponse"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Doctor Degree Management"
                ],
                "summary": "Delete doctor degree",
                "description": "Removes a specific educational degree record from a doctor's profile.",
                "operationId": "deleteDoctorDegree",
                "parameters": [
                    {
                        "name": "doctorId",
                        "in": "path",
                        "description": "ID of the doctor",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID of the degree record to delete",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Doctor degree deleted successfully"
                    },
                    "400": {
                        "description": "Invalid ID"
                    },
                    "404": {
                        "description": "Doctor degree not found"
                    }
                }
            }
        },
        "/api/doctors/{doctorId}/associations/{id}": {
            "get": {
                "tags": [
                    "Doctor Association Management"
                ],
                "summary": "Get a specific doctor association",
                "description": "Retrieves a doctor association by its ID for a given doctor.",
                "operationId": "getDoctorAssociationById",
                "parameters": [
                    {
                        "name": "doctorId",
                        "in": "path",
                        "description": "ID of the doctor",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        },
                        "example": 101
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID of the association",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        },
                        "example": 1
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Association found",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/DoctorAssociationResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Association not found",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/DoctorAssociationResponse"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "Doctor Association Management"
                ],
                "summary": "Update a doctor association",
                "description": "Updates an existing doctor association identified by its ID for a given doctor.",
                "operationId": "updateDoctorAssociation",
                "parameters": [
                    {
                        "name": "doctorId",
                        "in": "path",
                        "description": "ID of the doctor",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        },
                        "example": 101
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID of the association to update",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        },
                        "example": 1
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/DoctorAssociationRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Association updated",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/DoctorAssociationResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Association not found",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/DoctorAssociationResponse"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Doctor Association Management"
                ],
                "summary": "Delete a doctor association",
                "description": "Deletes a specific doctor association by its ID.",
                "operationId": "deleteDoctorAssociation",
                "parameters": [
                    {
                        "name": "doctorId",
                        "in": "path",
                        "description": "ID of the doctor",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        },
                        "example": 101
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID of the association to delete",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        },
                        "example": 1
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Association deleted successfully"
                    },
                    "404": {
                        "description": "Association not found"
                    }
                }
            }
        },
        "/api/blood-requisitions/{id}": {
            "get": {
                "tags": [
                    "Blood Requisition Management"
                ],
                "summary": "Get blood requisition by ID",
                "description": "Retrieves a blood requisition by its unique ID",
                "operationId": "getBloodRequisitionById",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/BloodRequisitionResponse"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "Blood Requisition Management"
                ],
                "summary": "Update a blood requisition",
                "description": "Updates an existing blood requisition identified by its ID.",
                "operationId": "updateBloodRequisitionById",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/BloodRequisitionRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/BloodRequisitionResponse"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Blood Requisition Management"
                ],
                "summary": "Delete a blood requisition",
                "description": "Deletes a blood requisition identified by its ID.",
                "operationId": "deleteBloodRequisitionById",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/api/blood-donations/{id}": {
            "get": {
                "tags": [
                    "Blood Donation Management"
                ],
                "summary": "Get blood donor by ID",
                "description": "Retrieves a blood donor by their unique ID",
                "operationId": "getBloodDonationById",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/BloodDonationResponse"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "Blood Donation Management"
                ],
                "summary": "Update a blood donation",
                "description": "Updates an existing blood donation identified by its ID.",
                "operationId": "updateBloodDonationById",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/BloodDonationRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/BloodDonationResponse"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Blood Donation Management"
                ],
                "summary": "Delete a blood donation",
                "description": "Deletes a blood donation identified by its ID.",
                "operationId": "deleteBloodDonationById",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/api/associations/{id}": {
            "get": {
                "tags": [
                    "Association Management"
                ],
                "summary": "Get association by ID",
                "description": "Retrieves an association by its unique ID.",
                "operationId": "getAssociationById",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Association found",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/AssociationResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Association not found",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/AssociationResponse"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "Association Management"
                ],
                "summary": "Update an existing association",
                "description": "Updates the details of an existing association identified by its ID.",
                "operationId": "updateAssociationById",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AssociationRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Association updated",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/AssociationResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Association not found",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/AssociationResponse"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Association Management"
                ],
                "summary": "Delete an association",
                "description": "Deletes an association identified by its ID.",
                "operationId": "deleteAssociationById",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Association deleted"
                    },
                    "404": {
                        "description": "Association not found"
                    }
                }
            }
        },
        "/api/ambulances/{id}": {
            "get": {
                "tags": [
                    "Ambulance Management"
                ],
                "summary": "Get ambulance by ID",
                "description": "Retrieves an ambulance by its unique ID",
                "operationId": "getAmbulanceById",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/AmbulanceResponse"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "Ambulance Management"
                ],
                "summary": "Update an ambulance",
                "description": "Updates an existing ambulance identified by its ID.",
                "operationId": "updateAmbulanceById",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AmbulanceRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/AmbulanceResponse"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Ambulance Management"
                ],
                "summary": "Delete an ambulance",
                "description": "Deletes an ambulance identified by its ID.",
                "operationId": "deleteAmbulanceById",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/api/advertisements/{id}": {
            "get": {
                "tags": [
                    "Advertisement Management"
                ],
                "summary": "Get advertisement by ID",
                "description": "Retrieves an advertisement by its unique ID.",
                "operationId": "getAdvertisementById",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
[...]
